@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

*{
  font-family: 'DM Sans', sans-serif;;
}

.Generation_Year{
  display: flex;
  flex-direction: column;

}

.Generation_Year_Choice{
  height: 50px !important;
  width: 100px;
  color: black !important;
  text-align: center !important;
  padding-top: 10px !important;
  background-color: white !important;
  border: none !important;
  border-radius: 20px !important;
  margin: 5px 0 5px 0;
}

.Generation_Year_Choice:hover {
  border: 1px solid rgb(147, 147, 147) !important;
  border-radius: 20px !important;
}
.GenerationRe{
  display: flex;
}

.Generation_Content{
  width: 100%;
  margin-top: 30px;
}