.LOVEDIVE{
  height: 80%;
  padding-top: 20px;
}

.LOVEDIVE_info{
  display: flex;
  justify-content: space-around;
}

.LOVEDIVE_video{
  padding-top: 10px;
  width: 60%;
  height: 60%;
}



.LOVEDIVE_Recommend{
  margin-top: 40px;
}

.LOVEDIVE_Recommend_music{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.LOVEDIVE_aespa{
  margin-top: 30px;
}

.LOVEDIVE_info_text{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}