@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
*{
  font-family: 'DM Sans', sans-serif;;
}

.SituationSidebar .nav{
  display: flex;
  flex-direction: column;
}

.SituationTabItem{
  height: 70px;
  width: 150px;
  color: black;
  text-align: center;
  padding-top: 20px;
}

.SituationSelected {
  color: red !important;
  border: 1px solid rgb(147, 147, 147) !important;
  border-radius: 20px !important;
}

.SituationTabItem:hover {
  border: 1px solid rgb(147, 147, 147) !important;
  border-radius: 20px !important;
}
.SituationRe{
  display: flex;
}

.SituationContent{
  
  width: 100%;
  padding-left: 50px;
}